
/************************************  GENERALE PAGE    **************************************************************/
/***********************************                          *************************************************************/
body{color: rgb(28, 28, 28) !important; background-color: #ffffff;}
.bold{font-size: 40px;font-weight: 800; }

.button{width: 200px;height: 40px;padding: 10px;border-radius: 8px;text-align: center}
.shadow{box-shadow:2px 2px 10px rgba(87, 87, 87, 0.4);}

/************************************  LOGIN PAGE   **************************************************************/
/***********************************                          *************************************************************/

#login_page{

    /* background: linear-gradient(0.3turn, #1f1f3a, #1f1f3ade,#1f1f3a94), url('../img/thomas-de-luze-JUCvBS6Wkak-unsplash.jpg');; */
    background-size: cover;
    display: grid;
    grid-template-columns: 1.5fr 2fr ;
    width: 100vw;
    height: 100vh;

}
#login_page .title{margin-bottom: 20px}

#background_login{    
    background: linear-gradient(0.3turn, #40404487 ,#27272b5c), url(/img/loginimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
#background_login .box_content {    
    position: relative;
    top: 40%;
    left: 50%;
    text-align: center;
    width: 0px;
}
#background_login img {
    width: 85px;

}
#background_login .loginTitle{  
    color: white;   
    font-size: larger;
    font-weight: 600;
}

#form_login{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: left;
    padding: 50px; 
    display: grid;  
    grid-template-rows: 0.2fr 1fr;
    gap: 20px;
}
.form_login_container{
    width: 100%;
}

#logo_img{
    width: 20%;
}



.input_container{padding:10px;color: rgb(90, 89, 89); }
.title{padding-left: 9px}
.input_container input {border-bottom: solid 2px rgb(148, 146, 146);color: gray;height: 45px;width: 100%; outline: none; border-top:none; border-left:none; border-right: none;}
.input_container input:hover { 
border-bottom-color: #1f1f3a;
}
.button_container{display: grid;place-items: center;width: 100%;padding: 15px 0px}
.btn-connexion{
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 25%;
    border-radius: 10px;
    transition: 0.5s;
    color: #ffffff;
    background: #53c5a0;
    box-shadow: 2px 2px 10px #53c5a144;
    text-decoration: none;
  }
 .btn-connexion:hover {
    background: #41d2a4;
    box-shadow:2px 2px 10px #3db38e48;
 
  }

  .hero h1{
    margin: 10px 0px;
    font-size: 35px;
    font-weight: 600;
    line-height: 64px;
    max-width: 80%;
    color: #252525;
    font-family: "Poppins", sans-serif;
  }
  .hero h2 {
    color: rgba(16, 16, 16, 0.9);
    margin: 25px 0;
    font-size: 25px;
    font-weight: 600;
 }
  .hero h3 {
    color: rgba(16, 16, 16, 0.9);
    margin: 10px 0 0 0;
    font-size: 15px;
    font-weight: 500;
 }
  .hero h1 span {
    color:#53C5A0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

@media screen and (min-width:0px) and (max-width:700px){
    #login_page{grid-template-columns: 1fr}
    #background_login{display: none}
    #logo_img{
    width: 30% !important;
    right: 27%;
    }
    .hero h1{
     font-size: 30px;    
     line-height: inherit;   
    }
    #form_login{
        
        padding: 0px; }
    #login_page{padding: 45px;}
}

.alert{color: rgba(255, 0, 0, 0.836);
    padding: 5px 10px;
font-weight: 500;}

.input-group {
    margin: 5% 0px;
    position: relative;
   }

   .input {
    border-radius: 5px;
    padding: 1.2rem;
    width: 100%;
    font-size: 1rem;
    color: #181818;
    border: 1px solid gray;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #1e1e1e;
    background-color: white;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    /* border: 1.5px solid #2f2f2f; */
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    /* background-color: #323246; */
    padding: 0 .3em;
    color: #181818;
   }
   